/* Getting rid of white space on the side*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    position: sticky;
    position: -webkit-sticky;
}

.no-margin{
  margin: 0px;
}

/* Color */

:root{
  --main: #004f04;
  --second: #29434e;
  --main-light: #60ac5d;
  --second-light: #819ca9;
  --off-white: #eeeeee;
}

/* Animation */

@keyframes text-move-in {
  from {padding-right: 10px; opacity: 0;}
  to {padding-right: 0px; opacity: 1;}
}

@keyframes body-element-move-in {
  from { margin-top: 50px; opacity: 0;}
  to { margin-top: 0; opacity: 1;}
}

@keyframes turn-up {
  from { transform: rotate(90deg);}
  to { transform: rotate(45deg);}
}

@keyframes heart-beat {
  0%{width: 90%; height: 90%; margin-left: 5%; margin-top: 5%;}
  
  25%{width: 100%; height: 100%; margin-left: 0%; margin-top: 0%;}
  
  100%{width: 90%; height: 90%; margin-left: 5%; margin-top: 5%;}
}

/*  Navigation bar */

.Top-bar{
    background-color: white;
    background-size: 100% 100%;
    border: none;
    outline: none;
    height: 60px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 10;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Top-options {
  float: right;
  font-size: 20px;
  line-height: 3.8;
  text-indent: 10px;
  opacity: 0;
  animation: text-move-in .25s ease-in;
  animation-fill-mode: forwards;
  font-weight: bold;
}

.Top-logo{
  float: left;
  font-size-adjust: inherit;
}

.Top-link {
  display: block;
  text-decoration: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  height: 60px;
  color: var(--main);
}

.Top-logo-image{
  height: 50px;
  width: 160px;
  padding-top: 2px;
}

/* Change the link color to #111 (black) on hover */
.Top-options a:hover {
  color: var(--second-light);
}

.Top-dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.Top-dropdown {
  position: relative;
  display: inline-block;
}

.Top-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.Top-dropdown:hover .Top-dropdown-content {display: block;}

.Top-dropdown:hover .Top-dropbtn {background-color: #3e8e41;}

/*  Landing page */

.Landing-top{
  width: 100%;
  height: 90vh;
  background-image: url('images/OldCouple.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.Landing-first-description{
  height: 50vh;
  width: 100%;
  background-color: var(--main-light);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 80vh;
  z-index: 0;
}

.Landing-title{
  height: 20vh;
  width: 20vw;
  right: 5vw;
  z-index: 1;
  font-size: 3vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.Landing-text{
  margin-top:0px;
  margin-left: 15vw;
  height: 25vh;
  width: 70vw;
  right: 15vw;
  text-align: center;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  color: white;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .Landing-text{
    font-size: 3vw;
  }
  .Landing-title{
    font-size: 4vw;
  }
}

.Landing-second-description{
  text-align: center;
  margin-top: 20vh;
  height: 80vh;
  width: 100%;
  background: white;
}

.Landing-second{
  padding-top: 20vh;
}

.Landing-second-text-color{
  color: var(--main-light)
}



/*  Home page */

.Home{
  padding-top: 60px;
  overflow: hidden;
}

.Home-header{
  width: 100vw;
  height: 75px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background-color: var(--off-white);
  color: var(--main);
}
.Home-header-text{
  padding-left: 25px;
  padding-top: 45px;
  width: 100vw;
}

.Home-sub{
  width: 100vw;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background-color: var(--off-white);
  color: var(--main-light);
}

.Home-sub-text{
  padding-left: 25px;
  padding-top: 45px;
  width: 100vw;
}

.Home-body{
  padding-top: 5px;
  height: 1450px;
  background-color: var(--off-white);
  color: var(--second);
}

.Home-body-lite{
  height: 1425px;
}

.Home-body-line{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Body-top-element{
  border-radius: 30px;
  background-color: white;
  width: 1625px;
  height: 200px;
  margin-right: 5px;
  margin-left: 5px;
  display: -webkit-box;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
  animation: body-element-move-in .25s ease-in;
  animation-fill-mode: forwards;
}

.Body-elements{
  border-radius: 30px;
  background-color: white;
  width: 1050px;
  height: 350px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
  animation: body-element-move-in .25s ease-in .25s;
  animation-fill-mode: forwards;
}

.Body-elements-bigger{
  margin-left: 60px;
  width: 1560px;
  height: 700px;
}

.Body-elements-patient{
  width: 1300px;
  height: 200px
}

.Body-element-smaller{
  width: 500px; 
  animation: body-element-move-in .25s ease-in .5s;
  animation-fill-mode: forwards;
}

.Body-top-block{
  width: 20.5%;
  margin-left: 1.25%;
  margin-right: 1.25%;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.Body-top-block-icon{
  margin-right: 0%;
}

.Body-top-text{
  margin-top: 50px;
  font-size: 23px;
  white-space: break-spaces;
  text-align: left;
}

.Body-short-text{
  width: 17.5%;
  margin-right: 0;
}

.Home-icon-image{
  width: 200px;
  height: 200px;
  margin-left: 10%;
  margin-top: 2%;
}

@media screen and (min-width: 1200px) {
  .Home-icon-image{
    width: 200px;
    height: 200px;
    margin-left: 17.5%;
    margin-top: 0;
  }
}

.Home-chart-header{
  color: var(--second-light);
  padding-top: 20px;
  height: 5%;
  width: 45%;
  float: right;
  text-align: right;
}

.Home-chart-header-2{
  float: left;
  text-align: left;
}

.Home-chart{
  width: 90%;
  height: 80%;
  top: -10px;
  position: relative;
  padding-top: 30px;
}

/* !important necessary to overwrite default chart height */

.Component-root-1{
  height: 100% !important;
}

.Home-table-header{
 padding-top: 20px;
 padding-bottom: 10px;
 margin: 0px;
 height: 10%;
 width: 100%;
 text-align: center;
 font-weight: bold;
 color: var(--second-light);
}

table{
  width: 90%;
  height: 80%;
}

tr{
  margin: 0;
  width: 100%;
  height: 30%;
  text-align: left;
  background-color: var(--off-white);
  border-radius: 6px;
  color: var(--second);
}

td{
  font-family: 'Roboto', sans-serif;
}

.Home-table-values{
  font-size: 50px;
  padding-right: 0%;
  text-align: center;
  width: 55%;
  color: var(--second);
}

.Home-table-text-time{
  width: 30%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
  color: var(--second-light);
  font-weight: bold;
}

.Home-table-text-time-less-pad{
  padding-bottom: 20px;
}

hr {
  border-color: var(--main);
  width: 30%;
  z-index: 1;
  margin-top: 2.5px;
  margin-bottom: 5px;
}

.Home-table-text{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Home-table-white-cell{
  background-color: white;
}

tbody{
  margin: 0;
}

.Home-dex{
  width: 250px;
  height: 250px;
  margin: 0;
}

.Home-dex-image{
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 20px;
  transform: rotate(90deg);
  animation: turn-up .25s ease-in 1s;
  animation-fill-mode: forwards;
}

.Home-dex-image-text {
  height: 0;
  right: 170px;
  top: 72.5px;
  position: relative;
  font-size: 28px;
  z-index: 3;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0px;
  width: 0;
}

.Home-dex-sub{
  display: flex;
  position: relative;
  bottom: 20px;
  width: 100%;
  margin: 0;
  text-align: center;
  justify-content: center;
  font-weight: normal;
}

.Home-heart{
    height: 200px;
    width: 200px;
    margin: 0px;
}

.Home-heart-image{
  width: 60%;
  height: 60%;
  position: relative;
  bottom: 10px;
  margin-left: 20%;
  animation: heart-beat 1s ease-in 1s infinite;
}

.Home-heart-text{
  font-size: 30px;
  position: relative;
  right: 143.25px;
  top: 62.5px;
}

.Home-heart-sub{
  bottom: 0px;
}

.Home-provider-click{
  margin-top: 0;
  transition: margin-top 0.5s;
}

.Home-provider-click:hover{
  margin-top: 50px;
}

/* Appointments Page */

.Appt-header{
  padding-bottom: 60px;
}

.Appt-body{
  height: 800px;
}

.Appt-scheduler{
  width: 90%;
  height: 90%;
  padding-top: 30px;
}

/* had to use important to override theme*/

.Cell-highlightedText-46{
  color: var(--main) !important;
}

.makeStyles-appointment-96 {
  background-color: var(--main-light) !important;
}

.makeStyles-appointment-91 {
  background-color: var(--main-light) !important;
}

/* Sign In Page */

.Sign-in{
  display:flex;
  width: 100%;
  padding-top: 60px;
  justify-content: center;
}
.Sign-in-page
{
  height: 750px;
  width: 100%;
  line-height: 3;
  background-color: var(--off-white);
  color: var(--main-light);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.Sign-in-page-text{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
  text-decoration: none;
  margin: 0;
}

.Sign-in-header{
  font-size: 40px;
  font-weight: normal;
}

.Sign-in-input{
  padding-top: 5px;
  padding-right: 50px;
  padding-bottom: 5px;
  padding-left: 2px;
}

.Sign-in-button{
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 300px;
  height: 400px;
  flex-wrap: wrap;
  border: none;
  border-radius: 6px;
  background-color: var(--second-light);
  opacity: 0;
  margin-top: 50px;
  animation: body-element-move-in .25s ease-in .25s;
  animation-fill-mode: forwards;
}

.Sign-in-icon{
  width: 70%;
  height: 50%;
  z-index: 3;
}

.Sign-in-button-text{
  color: var(--off-white);
}

/* Sign Up Page */

.Sign-up-page{
  padding-top: 40vh;
}

/* About Us */

.Bottom-bar{
  background-color: var(--main);
  background-size: 100% 100%;
  border: none;
  outline: none;
  height: 60px;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  display: inline-flex;
  justify-content: center;
  line-height: 2;
  margin: 0;
  padding: 0;
  color: white;
}

.Bottom-link{
  text-decoration: none;
  color: white;
}

.Bottom-bar span{
  margin: 0 10px;
}


/* Shrink */
@media screen and (max-width: 1110px) {
  .Shrink{
    width: 1110px;
  }
  .Home-header{
    font-size: 30px;
  }
}