/* Getting rid of white space on the side*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Cardo;
    font-style: normal;
    font-weight: normal;
}

/*  Navigation bar */

.Top-bar{
    background-image: url('images/NavigationBar.png');
    background-size: 100% 100%;
    border: none;
    outline: none;
    height: 11vh;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.Top-logo{
  position: relative;
  display: inline;
  text-align: center;
  text-decoration: none;
  font-family: Cardo;
  font-style: normal;
  font-weight: normal;
  font-size: 3.8vw;
  color: #000000;
  bottom: .5vh;
  size: 14vw;
  padding-left:10vw;
  padding-right: 12vw;
}

.Top-navigation{
    position: relative;
    display: inline;
    text-align: center;
    text-decoration: none;
    font-family: Cardo;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.8vw;
    color: #000000;
    bottom: 1vh;
    size: 14vw;
    padding-left: 6vw;
  }

  @media only screen and (max-width: 700px) {
    /* For desktop: */
    .Top-navigation {top:2vh;}
    .Top-logo {top:2vh;}
  }

  .Top-link{
    text-decoration: none;
  }

/*  Landing page */

.Landing-top{
  width: vw;
  height: 110vh;
  background-image: url('images/OldCouple.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

@keyframes fade-in {
  from {opacity: 0; margin-left: 10vw;}
  to {opacity: 1; margin-left: 15vw;}
}

@media only screen and (min-width: 820px) {
  /* For desktop: */
  .Landing-header {font-size: 10vh;}
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .Landing-header {font-size: 12vh;}
}

.Landing-first-description{
  height: 55vh;
  width: 100vw;
  background-image: url(./images/LandingBg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 100vh;
  z-index: 0;
}

.Landing-title{
  height: 20vh;
  width: 20vw;
  right: 5vw;
  z-index: 1;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.Landing-text{
  margin-top:0px;
  margin-left: 15vw;
  height: 25vh;
  width: 70vw;
  right: 15vw;
  text-align: center;
  color: #ffffff;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  color: #000000;
  z-index: 1;
  opacity: 0;
  animation: fade-in 1s linear 1s;
  animation-fill-mode: forwards;
}

.Landing-second-description{
  text-align: center;
  margin-top: 20vh;
  height: 70vh;
  width: 100vw;
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%), #DDC9B4;
}

.Landing-second{
  padding-top: 20vh;
}



/*  Home page */

.Home-syringe-photo{
  position: absolute;
  width: 614px;
  height: 593px;
  left: 413px;
  top: 192px;
}

.Home-signup{
  position: relative;
  width: 234px;
  height: 34px;
  
  top: 847px;
  padding-right: 10%;
  padding-left: 10%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

/* Sign In Page */

.Sign-in-page
{
  padding-top: 40vh;
}

/* Sign Up Page */

.Sign-up-page{
  padding-top: 40vh;
}