/* Getting rid of white space on the side*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Cardo, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.no-margin{
  margin: 0px;
}

/* Color */

:root{
  --main: #443266;
  --second: #15A7DB;
  --white: #ffffff;
}

/*  Navigation bar */

.Top-no-decoration{
  text-decoration: none;
  color: white;
}

.Top-bar{
    background-color: var(--main);
    background-size: 100% 100%;
    border: none;
    outline: none;
    height: 60px;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: inline-flex;
    flex-direction: row;
    align-content: space-between;
}

.Top-logo{
  position: relative;
  display: inline;
  text-align: center;
  text-decoration: none;
  font-family: Cardo, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  color:  #ffffff ;
  top: 9px;
  size: 40px;
  padding-left:5vw;
  padding-right: 12vw;
}

.Top-navigation{
    position: relative;
    display: inline;
    text-align: center;
    text-decoration: none;
    font-family: Cardo, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color:  #ffffff;
    size: 20px;
    padding-left: 6vw;
    display: flex;
    justify-content: center;
    bottom: 5px;
  }

  .Top-more-bottom{
    bottom: 10px;
  }

  .Top-link-middle{
    text-decoration: none;
    width: 15vw;
    text-align: center;
  }

  .Top-link-end{
    text-decoration: none;
    width: 15vw;
    margin-right: 1vw;
    text-align: center;
    animation: text-move-in;
  }

  .Top-link-sign-in{
    text-decoration: none;
    width: 15vw;
    margin-left: 45vw;
    text-align: center;
    animation: text-move-in;
  }

  @keyframes text-move-in {
    from {text-indent: -1vw;}
    to {text-indent: 0;}
  }

  .Top-link{
    text-decoration: none;
  }

.Top-dropbtn {
  background-color: var(--white);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.Top-dropdown {
  position: relative;
  display: inline-block;
}

.Top-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.Top-dropdown:hover .Top-dropdown-content {display: block;}

.Top-dropdown:hover .Top-dropbtn {background-color: #3e8e41;}

/*  Landing page */

.Landing-top{
  width: vw;
  height: 110vh;
  background-image: url('images/OldCouple.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

@keyframes fade-in {
  from {opacity: 0; margin-left: 10vw;}
  to {opacity: 1; margin-left: 15vw;}
}

@media only screen and (min-width: 820px) {
  /* For desktop: */
  .Landing-header {font-size: 10vh;}
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .Landing-header {font-size: 12vh;}
}

.Landing-first-description{
  height: 50vh;
  width: 100vw;
  background-color: var(--second);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 100vh;
  z-index: 0;
}

.Landing-title{
  height: 20vh;
  width: 20vw;
  right: 5vw;
  z-index: 1;
  font-size: 3vw;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.Landing-text{
  margin-top:0px;
  margin-left: 15vw;
  height: 25vh;
  width: 70vw;
  right: 15vw;
  text-align: center;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  color: var(--white);
  z-index: 1;
  opacity: 0;
  animation: fade-in 1s linear 1s;
  animation-fill-mode: forwards;
}

.Landing-second-description{
  text-align: center;
  margin-top: 20vh;
  height: 70vh;
  width: 100vw;
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%), #DDC9B4;
}

.Landing-second{
  padding-top: 20vh;
}

.Landing-second-text-color{
  color: var(--second)
}



/*  Home page */

.Home{
  padding-top: 60px;
}

.Home-header{
  width: 100vw;
  height: 100px;
  font-size: 40px;
  font-style: italic;
  display: flex;
  justify-content: center;
  background-color: var(--second);
  color: var(--white);
}

.Home-header-text{
  padding-right: 75vw;
  padding-top: 45px;
}

.Home-body{
  width: 100vw;
  height: 600px;
  background-color: var(--white);
  color: var(--second);
  display: flex;
  justify-content: center;
}

.Home-chart{
  padding-top: 40px;
  width: 90vw;
  height: 250px;
}



/* Sign In Page */

.Sign-in{
  display:flex;
}
.Sign-in-page
{
  height: 800px;
  width: 60%;
  line-height: 3;
  background-color: var(--second);
  color: var(--white);

}

.Sign-in-page-text{
  width: 50%;
  padding-top: 200px;
  padding-left: 15%;
}

.Sign-in-header{
  font-size: 40px;
  font-weight: normal;
}

.Sign-in-input{
  padding-top: 5px;
  padding-right: 50px;
  padding-bottom: 5px;
  padding-left: 2px;
}

.Sign-in-extra{
  height: 600px;
  width: 40%;
  justify-content: center;
  display: flex;
}
.Sign-in-extra-text{
  margin: 0px;
  width: 50%;
  padding-top: 255px;
  padding-right: 60px;
  color: var(--second);
  font-size: 4vw;
}

/* Sign Up Page */

.Sign-up-page{
  padding-top: 40vh;
}